NaukaIT/.vs/NaukaIT/v15/Server/sqlite3/db.lock
NaukaIT/NaukaIT/obj/
NaukaIT/NaukaIT/bin/
NaukaIT/NaukaIT.Tests/bin/
NaukaIT/NaukaIT.Tests/obj/
NaukaIT/NaukaIT.DAL/obj/
NaukaIT/NaukaIT.DAL/bin/
NaukaIT/.vs/NaukaIT/v15/.suo
NaukaIT/.vs/NaukaIT/v15/Server/sqlite3/storage.ide-wal
NaukaIT/.vs/NaukaIT/v15/Server/sqlite3/storage.ide-shm
NaukaIT/.vs/NaukaIT/v15/Server/sqlite3/storage.ide
NaukaIT/.vs/NaukaIT/DesignTimeBuild/.dtbcache
NaukaIT/NaukaIT/Content/Documents/
nauka_it/src/assets/images/
NaukaIT/NaukaIT/Content/Files/
NaukaIT/NaukaIT/logs/
